<ion-row class="ion-justify-content-center  ion-align-items-center">
  <ion-col>


    <ion-content rounded class="container-geral"[fullscreen]="true">

      <div class="tudo">
      <ion-row >
        <ion-col>
    
          <div class="container-high">
    
            <ion-grid>
              <ion-row class="ion-justify-content-center">
                <ion-col size="10">
    
                  <div class="tela">
                  <p style="text-align: right; margin-right: 20px;">{{memoria}} {{operacao}}</p>
                  <ion-input class="input" readonly value="" [(ngModel)]="valor" type="number" style="text-align: right; font-size: xx-large; margin-right: 20px;" ></ion-input>
          
            <ion-row > 
    
                <ion-button size="large" class="porcentagem  wrapper" fill="clear"  (click)="clickOutros('%')" color="danger" expand="block">%</ion-button>
                
                  <ion-button  class="apagador" fill="clear" (click)="clickOutros('--')" expand="block" color="danger ">
                    <ion-icon  size="large" name="backspace-outline"></ion-icon>
                  </ion-button>
    
            </ion-row>
    
          </div>
                </ion-col>
              </ion-row>
          
              <ion-row class="ion-justify-content-center">
                <ion-col size = "11">
                  <div class="separador"></div>
                </ion-col>
              </ion-row>
          
            </ion-grid>
          
          </div>
          
          
            <div class="container-low">
          
            <ion-grid >
          
                <!-- primeira linha -->
          
              <ion-row class="ion-justify-content-center">
          
                <ion-col size="2.5">
                  <ion-button fill="outline" class="wrapper" class="botao" (click)="clickOutros('C')" expand="block" color="danger ">C</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="calcula('X²')" color="danger" expand="block">X²</ion-button>
                </ion-col>
    
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="calcula('√')" color="danger" expand="block">√</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="calcula('/')" expand="block" color="danger">/</ion-button>
                </ion-col>
          
              </ion-row>
          
              <!-- segunda linha -->
          
              <ion-row class="ion-justify-content-center">
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickBotao('7')" color="light" expand="block">7</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickBotao('8')" color="light" expand="block">8</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickBotao('9')" color="light" expand="block">9</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="calcula('X')" expand="block" color="danger">X</ion-button>
                </ion-col>
          
              </ion-row>
          
              <!-- terceira linha -->
          
              <ion-row class="ion-justify-content-center">
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickBotao('4')" color="light" expand="block">4</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickBotao('5')" color="light" expand="block">5</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickBotao('6')" color="light" expand="block">6</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="calcula('-')" expand="block" color="danger">-</ion-button>
                </ion-col>
          
              </ion-row>
          
              <!-- quarta linha -->
          
              <ion-row class="ion-justify-content-center">
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickBotao('1')" color="light" expand="block">1</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao"  (click)="clickBotao('2')" color="light"  expand="block">2</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao"  (click)="clickBotao('3')" color="light"  expand="block">3</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="calcula('+')" expand="block" color="danger">+</ion-button>
                </ion-col>
                
              </ion-row>
          
              <!-- quinta linha -->
          
              <ion-row class="ion-justify-content-center">
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao"  (click)="clickOutros('+-')" expand="block" color="danger">+/-</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao"  (click)="clickBotao('0')" color="light"  expand="block">0</ion-button>
                </ion-col>
          
                <ion-col size="2.5">
                  <ion-button class="wrapper" class="botao" (click)="clickOutros(',')" expand="block" color="danger">,</ion-button>
                </ion-col>
          
                <ion-col size="2.5" >
                  <ion-button fill="outline" class="wrapper" class="botao" (click)="calcula('=')" expand="block" color="danger">=</ion-button>
                </ion-col>
                
              </ion-row>
          
            </ion-grid>
          </div>
    
        </ion-col>
      </ion-row>
    </div>

</ion-content>

  </ion-col>
</ion-row>


