*{
  // outline: 1px solid red;
  overflow: hidden;
}

.ion-content{
  max-height: 677px;
  max-width: 400px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.separador{
  border: 1px solid #eb445a;
}
// ion-input{
//   --border: none;
// }

.botao{
height: 65px;
width: 65px;
text-align: center;
}

.container-high{
height: 30%;
margin-top: 20px;
}
.container-low{
  height: 70%;
}
.ion-icon{
  height: 100%;
  width: 100%;
}
.apagador{
height: 30px;
height: 30px;
}



